/** General **/
body{
    margin: 0;
    padding:0;
    font-family: 'Roboto';
    color: #1b1b1b;
}

.flexbox-container{
    display: -ms-flex;
    display: -webkit-box-flex;
    display: flex;
}

a{
    text-decoration: none;
}

h3{
    font-family: 'Fjalla One';
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}

h4{
    font-family: 'Fjalla One';
    font-size: 20px;
    margin: 15px 0 5px;
}

/** Header & Footer **/

header{
    border-bottom: 1px solid #e2e2e2;
}

header, footer{
    background: #fff;
    align-items: center;
    padding:10px;
    font-family: 'Fjalla One'
}

header .logo,
footer .logo{
    flex-grow:1;
    height: 23px
}  

header .logo span,
footer .logo span{
    background: url('/images/logo.png') no-repeat;
    display: inline-block;
    width: 58px;
    height: 24px;
}

footer{
    background: #1f1f1f;
    margin-top: 30px;
}

/** Slider **/
.item-slider{
    height: 700px;
    background-size: cover !important;
    background-position:center center !important;
    position: relative;
    font-family: 'Fjalla One'
}

.item-slider .caption {
    color: #fff;
    position: absolute;
    right:0;
    padding:20px;
    text-align:right;
    width:320px;
    text-transform: uppercase;
}

.item-slider .caption h4{
    font-weight: 300;
    margin:0;
}

.item-slider .caption p{
    font-size: 70px;
    margin-top:0px;
}

/** Subscribe**/
.subscribe_panel{
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

.subscribe_panel h3{
    font-family: 'Fjalla One';
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}

.subscribe_panel input {
    border-radius: 10px;
    border:1px solid #ddd;
    text-align:center;
    font-size:23px;
    padding:10px;
    margin:10px 0;
}

.subscribe_panel input:focus{
    outline-width:0
}

.subscribe_panel small{
    font-size:15px;
    line-height:0px;
}

.subscribe_panel .error,
.subscribe_panel .success
{
    display: none;
}

.subscribe_panel .error.show{
    display: block;
    color: #f44336
}

.subscribe_panel .success.show{
    display: block;
    color: #43af50;
}

/** Blocks **/
.home_blocks{
    display: -ms-flex;
    display: -webkit-box-flex;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-top:40px;
}

.home_blocks .item{
    flex-grow:1;
    position:relative;
    height: 270px;
    overflow:hidden;
}

.home_blocks .item.lg{
    width: 50%
}

.home_blocks .item.md{
    width: 30%
}

.home_blocks .item.sm{
    width: 20%
}

.home_blocks .item .image{
    height: 270px;
    background-size: cover !important;
    background-position: center center !important;
}

.home_blocks .item .title{
    background: #000;
    padding: 10px;
    transition: all 500ms ease-in-out;
}

.home_blocks .item:hover .title{
    transform: translate(0px, -30px);
    transition: all 500ms ease-in-out;
}

.home_blocks .item .title a{
    color: #fff;
}


.home_blocks .item.lg{
    animation-delay:200ms;
    -webkit-animation-delay: 200ms;
    -ms-animation-delay:200ms;
    -moz-animation-delay:200ms;
}

.home_blocks .item.md{
    animation-delay:500ms;
    -webkit-animation-delay: 500ms;
    -ms-animation-delay:500ms;
    -moz-animation-delay:500ms;
}

.home_blocks .item.sm{
    animation-delay:800ms;
    -webkit-animation-delay: 800ms;
    -ms-animation-delay:800ms;
    -moz-animation-delay:800ms;
}

.home_blocks .item .veil{
    background: #000;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    top:0;
    position: absolute;
    transition:all 50ms ease-in-out;
}

.home_blocks .item:hover .veil{
    opacity:0;
    transition:all 50ms ease-in-out;
}

/** Poll **/
.home_poll{
    width:70%;
    margin:0 auto; 
    text-align:center;
}

.poll_container{
    display:-ms-flex;
    display:-webkit-flex;
    display:-flex;
}

.poll_container .poll_item{
    padding:20px;
    flex-grow:1;
}

.poll_container .poll_item img{
    width:80%;
}

.poll_container .poll_item div{
    font-family: 'Fjalla One', sans-serif;
    font-size:18px;
}